:root {
    --sidebar-width: 250px;
    --sidebar-background: #343a40;
    --sidebar-text-color: #fff;
    --sidebar-button-background: #343a40;
    --sidebar-button-icon-color: #fff;
    }
    
    /* Estilos para a barra lateral */
    .main {
    display: flex;
    }
    
    #sidebarw {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--sidebar-width);
    z-index: 999;
    background: var(--sidebar-background);
    color: var(--sidebar-text-color);
    transition: all 0.3s;
    }
    
    #sidebar.active {
    transform: translateX(-100%);
    }
    
    #sidebarCollapse {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: var(--sidebar-button-background);
    color: var(--sidebar-button-icon-color);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s;
    }
    
    #sidebarCollapse::before {
    content: '\f0c9';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    margin-right: 5px;
    }
    
    #sidebar.active #sidebarCollapse::before {
    content: '\f0c9';
    transform: rotate(180deg);
    }
    
    .custom-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    }
    
    /* Estilos para o conteúdo principal */
    #content {
    margin-left: var(--sidebar-width);
    transition: all 0.3s;
    flex-grow: 1;
    }
    
    /* Estilos para o cabeçalho do conteúdo principal */
    #content h2 {
    margin-bottom: 30px;
    }
    
    /* Estilos para as imagens do usuário na barra lateral */
    .img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    margin-bottom: 10px;
    }
    
    /* Estilos para o nome e profissão do usuário na barra lateral */
    .user-logo h2 {
    font-size: 1.2rem;
    margin-bottom: 0;
    }
    
    .user-logo h3 {
    font-size: 0.8rem;
    margin-top: 0;
    color:rgba(255, 255, 255, 0.6);
    }

    /* Estilos para os itens da lista na barra lateral */
.list-unstyled li {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    .list-unstyled li a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    }
    
    .list-unstyled li:hover {
    background: rgba(255, 255, 255, 0.2);
    }
    
    /* Estilos para a barra lateral quando oculta */
    #sidebar.hidden {
    margin-left: -250px;

    }
    
    /* Estilos para o conteúdo principal quando a barra lateral está oculta */
    #content.full {
    margin-left: 0;
    width: 100%;
    }
    
    /* Estilos para o botão que oculta e mostra a barra lateral*/
    #sidebar-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
    background: #343a40; /* cor de fundo do botão */
    color: #fff; /* cor do ícone do botão */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    }
    
    #sidebar-toggle::before {
    content: '\f0c9';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    margin-right: 5px;
    }
    
    #sidebar.hidden #sidebar-toggle::before {
    content: '\f0c9';
    }

    .mr-3 {
        margin-right: 0.75rem !important;
      }
    
/* Wrapper */
.wrapper {
    display: flex;
    align-items: stretch;
  }
  
  /* Sidebar */
  #sidebar {
    flex-basis: 250px;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #222;
    color: #fff;
    transition: all 0.3s;
  }
  
  #sidebar.active {
    margin-left: -250px;
  }
  
  .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
  }
  
  .sidebar-header h3 {
    color: #fff;
    margin-bottom: 0;
  }
  
  .components {
    padding: 20px;
  }
  
  .components ul li a {
    color: #fff;
  }
  
  .components ul li.active > a {
    color: #fff;
    background: #6d7fcc;
  }
  
  .components ul li a:hover {
    text-decoration: none;
  }
  
  /* Content */
  #content {
    width: 100%;
    padding: 20px;
  }
  
  /* Navbar */
  .navbar {
    background: #fff;
    padding: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .navbar .navbar-brand {
    font-weight: bold;
  }
  
  /* Button */
  #sidebarCollapse {
    display: none;
  }

    @media (max-width: 768px) {
    /* Estilos para a barra lateral */
    #sidebar {
    margin-left: -250px;
    flex-basis: 250px;
    }
    
    #sidebar.active {
    margin-left: 0;
    }
    
    #sidebar-toggle {
    display: block;
    }
    
    #content {
    margin-left: 0;
    width: 100%;
    }
    }